<div class="container">
  <h3>FLRAs Flagged for Follow Up</h3><br>
</div>

<table class="table text-center">
  <thead>
    <tr>
      <th>Submission Date</th>
      <th>Worker</th>
      <th>Task Type</th>
      <th>Quality Score</th>
      <th>Risk Score Differential</th>
      <th></th>
    </tr>
  </thead>
  <tbody class = "text-center">
    <% current_user.followup_flras.each do |flra| %>
    <tr>
      <td scope="row"><%= flra.created_at %></td>
      <td scope="row"><%= "#{flra.worker.first_name} #{flra.worker.last_name}" %></td>
      <td scope="row"><%= flra.category.name if flra.category %></td>
      <td scope="row"><%= flra.points %></td>
      <td scope="row"><%= flra.risk_differential %></td>
      <td scope="row"><button type="button" class="btn btn-primary">Resolve</button></td>
    </tr>
    <% end %>

  </tbody>
</table>
