<div data-worker="<%= @flra.worker_id %>"></div>
<div class="row form">
  <div class="panel col-md-12" >
    <h2 class="text-center">FLRA #<%= @flra.id %></h2>
    <p class="text-center">Submitted on <%= @flra.created_at.to_formatted_s(:long_ordinal) %> </p>
    <p class="text-center">Worker: <%= "#{@flra.worker.first_name} #{@flra.worker.last_name}" %></p>
    <div class="col-md-8">
    <h4 class="text-center">Form Submission</h4>
    <label>Task Description: </label>  <%= @flra.description %><br>
    <% @flra.responses.reverse.each do |response| %>
    <br>
      <label><%= response.question.body %></label>
      <p><%= response.body %></p>
    <% end %>
  </div>
  <div class="col-md-4">
    <h4 class ="text-center">Results and Follow Up</h4><br>
    <% if @flra.flagged? %>
      <label><i class="fa fa-flag" aria-hidden="true"></i> Flagged for Follow Up</label><br><br>
      <% elsif @flra.resolved? %>
      <label><i class="fa fa-check-circle-o" aria-hidden="true"></i> Follow Up Resolved</label><br><br>
    <% end %>
    <label>Worker Risk Score: </label> <%= @flra.worker_risk_score %> <br><br>
    <label>Supervisor Risk Score:</label> <%= @flra.super_risk_score %> <br><br>
    <label>Risk Differential:</label> <%= @flra.risk_differential %> <br><br>
    <p><label>Notes: </label> <%= @flra.notes %></p>
    <% if @flra.flagged? %>
      <%= link_to "Mark as Resolved", flra_path(@flra, follow_up_status: "resolved"), method: :put, class: "btn btn-primary" %>
    <% end %>
  </div>

</div>
</div>
