<div class="title-show"><h2>FLRAs for <%= @worker.first_name %></h2></div>

<div data-worker="<%= @worker.id %>"></div>

<h3>Average Form Score: <span class="average"></span></h3>

<% @tasks.each do |task| %>
<div class="row text-center">
  <div class="panel col-md-6 col-md-offset-3" data-id="<%= task.id %>">
    <% task.responses.reverse.each do |response| %>
      <h3><%= response.question_title %></h3>
      <p><%= response.body %></p>
    <% end %>
    <h3>How dangerous do you think this actually is?</h3>
    <div class="btn-group">
      <% 7.times do |time| %>
        <%= link_to "#{time + 1}", '#', class: "score-button btn btn-default"%>
      <% end %>
    </div>
    <h3>How well was this form filled out?</h3>
    <div class="btn-group">
      <% 5.times do |time| %>
        <%= link_to "#{time + 1}", '#', class: "score-button btn btn-default"%>
      <% end %>
    </div>
  </div>
</div>
<% end %>
