<%= tag :div, class: "category_information", data: {id: @category.id} %>

<div class="text-center">

<h1>Manage FLRA Inputs</h1><br>
</div>
  <div class="container-fluid text-center">
    <h3><%= @category.name %></h3>
      <div class="dropdown col-md-2 col-md-offset-5">

        <button class="btn btn-default dropdown-toggle" type="button" id="categories-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Job Categories
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu text-center" aria-labelledby="categories-dropdown">
          <% @categories.each do |category| %>
            <li><%= link_to category.name, edit_category_path(category) %></li>
          <% end %>
        </ul>
      </div>
    </div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" class="active"><a href="#category-<%= @category.id %>-risks" aria-controls="home" role="tab" data-toggle="tab">Risks</a></li>
        <li role="presentation"><a href="#category-<%= @category.id %>-controls" aria-controls="profile" role="tab" data-toggle="tab">Controls</a></li>
      </ul><br>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="category-<%= @category.id %>-risks">
          <div id="current-risks-table"></div>
        </div>
        <div role="tabpanel" class="tab-pane" id="category-<%= @category.id %>-controls">
          <div class="controls-table"></div>

        </div>
      </div>
