<!DOCTYPE html>
<html>
  <head>
    <meta charset=“utf-8”>
    <meta http-equiv=“X-UA-Compatible” content=“IE=edge”>
    <meta name=“viewport” content=“width=device-width, initial-scale=1”>
    <title>MitiG8</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <style>
      .slidecontainer {
          width: 100%;
      }

      .slider {
          -webkit-appearance: none;
          width: 100%;
          height: 25px;
          background: #d3d3d3;
          outline: none;
          opacity: 0.7;
          -webkit-transition: .2s;
          transition: opacity .2s;
      }

      .slider:hover {
          opacity: 1;
      }

      .slider::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #4CAF50;
          cursor: pointer;
      }

      .slider::-moz-range-thumb {
          width: 25px;
          height: 25px;
          background: #4CAF50;
          cursor: pointer;
      }

      .profile-pic {
        margin-top: 20%;
        max-height: 280px;
        margin-left: -15px;
      }

      div.form {
        margin-top: 10px;
        margin-bottom: 30px;
        position: relative;
      }

       div.panel.col-md-12 {
        border: 2px solid black;
      }

      .score-button {
        margin-bottom: 30px;
      }

      .unresolved-row {
        position: relative;
      }

      .needs-help {
        border: 4px solid #a50d0d;
      }

      .is-good {
        border: 4px solid green;
      }

      .contact-card {
        min-height: 425px;
      }
    </style>
  </head>

  <body>

    <div className="header"><h1><img src='//barrick.q4cdn.com/808035602/files/design/logo.png' alt=‘Barrick Gold Logo’/></h1></div>
    <% if !current_page?(root_path)  %>
      <%= render partial: 'layouts/navbar' %>
    <% end %>

    <div><% flash.each do |type, message| %>
      <%= content_tag :div, message.html_safe, class: Alert.alert_type(type) %>
    <% end %></div>
    <div class="container">
      <%= yield %>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </body>
</html>
